
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.405);
}
body{
    position: relative;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    /* background-color: green; */
}

/* main .image{
    width: 100%;
} */
main .image img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
}
.big-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
}
.big-image img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}